<!-- Header -->
<nav class="navbar navbar-expand-lg">
  <div class="container d-flex justify-content-between">
    <div class="d-flex justify-content-start">
        <a class="navbar-brand" [routerLink]="['']">
            <h2><em>Padel</em>ante </h2>
        </a>
    </div>
    <div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

          <li *ngIf="loginService.isAdmin()" class="nav-item dropdown mt-1">

            <a class="nav-link nav-icon" [routerLink]="['/admin']">
                <i class="ri-tools-fill"></i>
            </a>
            <!-- End Admin Icon -->

          </li>
          <!-- End Admin Nav -->

          <li *ngIf="loginService.isLogged()" class="nav-item dropdown mt-1">

            <a class="nav-link nav-icon" data-bs-toggle="dropdown" (click)="getUserMatches()">
                <i class="ri-dribbble-line"></i>
                <span *ngIf="hasUserMatches()" class="badge bg-danger badge-number">{{numUserMatches()}}</span>
            </a>
            <!-- End Matchs Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages pb-0">
              <ng-template ngFor let-match [ngForOf]="userMatches">
                <li *ngIf="hasUserMatches()" class="message-item">
                  <div class="d-flex justify-content-center">
                      <a [routerLink]="['/match',match.id]">
                          <div class="text-center">
                              <h4>{{match.tournament.tournamentName}}</h4>
                              <p>{{match.teamOne.userA.name}} / {{match.teamOne.userB.name}}</p>
                              <p>vs</p>
                              <p>{{match.teamTwo.userA.name}} / {{match.teamTwo.userB.name}}</p>

                          </div>
                      </a>
                  </div>
                </li>
                <li *ngIf="hasUserMatches()">
                    <hr class="dropdown-divider">
                </li>
              </ng-template>

              <li *ngIf="!hasUserMatches()" class="message-item">

                <div class="text-center">
                  <h4>No hay partidos pendientes</h4>
                  <p>Seguro que pronto juegas, campeón.</p>

                </div>

              </li>
            </ul>
            <!-- End Matchs Dropdown Items -->

          </li>
          <!-- End Matchs Nav -->

          <li *ngIf="loginService.isLogged()" class="nav-item dropdown mt-1">

              <a class="nav-link nav-icon" data-bs-toggle="dropdown">
                  <i class="ri-account-circle-fill"></i>
              </a>
              <!-- End Profile Iamge Icon -->

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                  <li class="dropdown-header">
                      <h6>{{loginService.currentUser().name}}</h6>
                  </li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>

                  <li>
                      <a class="dropdown-item d-flex align-items-center" [routerLink]="['/user_profile']">
                          <i class="ri-user-3-line"></i>
                          <span>Mi perfil</span>
                      </a>
                  </li>

                  <li>
                      <hr class="dropdown-divider">
                  </li>

                  <li>
                    <a class="dropdown-item d-flex align-items-center" [routerLink]="['']" (click)="loginService.logOut()">
                      <i class="ri-logout-box-r-line"></i>
                      <span>Cerrar sesión</span>
                    </a>
                  </li>

              </ul>
              <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->

          <li *ngIf="!loginService.isLogged()" class="nav-item">
            <a class="nav-link nav-icon nav-text" [routerLink]="['/login']">Iniciar sesión</a>
            <!-- End Log In Icon -->
          </li>
          <!-- End Profile Nav -->

        </ul>
      </nav>
      <!-- End Icons Navigation -->

    </div>
  </div>
</nav>
