<body class="bg-232323">

 <div class="content-section implementation">
  <div class="card flex justify-content-center">
    <p-chart
      type="doughnut"
      [data]="data"
      [options]="chartOptions"
      [style]="{ width: '40%' }"
    ></p-chart>
   </div>
</div>

 <!-- <div class="content-section documentation">
  <p-tabView>
    <p-tabPanel header="Source">


      <p-chart
        type="doughnut"
        [data]="data"
        [options]="chartOptions"
        [style]="{ width: '40%' }"
      ></p-chart>
    </p-tabPanel>
  </p-tabView>
</div> -->
</body>
