

<body class="bg-232323">

  <header class="fixed-top"></header>
  <!--Header-->

  <main class="container main-profile">

    <section class="section profile">
      <div class="row">
        <div class="col-lg-3">

          <div class="card text-center">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">


              <img *ngIf="hasImage()" src="api/users/image/{{loginService.currentUser().id}}" alt="User Image"
                class="rounded-circle border-green bg-232323">
              <img *ngIf="!hasImage()" src="/assets/images/no_profile_photo.jpg" alt="User Image"
                class="rounded-circle border-green bg-232323">


              <h2>{{loginService.currentUser().realName}}</h2>
              <h3 class="mt-1 color-green"><span class="fw-bold">@{{loginService.currentUser().name}}</span></h3>
              <h3 class="my-2">Karma: <span class="color-green fw-bold">{{calculatedKarma(loginService.currentUser().historicalKarma)}} puntos</span></h3>
              <h3 class="mb-3">{{loginService.currentUser().location}} {{loginService.currentUser().country}}</h3>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-body profile-card pt-2 d-flex flex-column justify-content-center align-items-center">
              <h2 class="mb-1">Tus parejas</h2>

              <div class="row" id="elements2">

                <div *ngFor="let pair of userPairs" class="col-md-12">
                  <div class="d-flex justify-content-start align-middle mt-2">
                    <div>

                      <img *ngIf="pair.image" src="api/users/image/{{pair.id}}" alt="User Image"
                        class="partner-img rounded-circle border-green-tiny small me-2">
                      <img *ngIf="!pair.image" src="/assets/images/no_profile_photo.jpg" alt="User Image"
                        class="partner-img rounded-circle border-green-tiny small me-2">
                      </div>
                    <span class="d-flex align-items-center partner-name">{{pair.name}}</span>
                  </div>
                </div>
              </div>

              <div *ngIf="hasMorePairs" class="row">
                <div class="d-flex justify-content-center">
                  <a class="cargar-mas-mini" (click)="getUserPairs()">Cargar más</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-9">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active d-flex align-items-center" data-bs-toggle="tab"
                    data-bs-target="#profile-overview"><i class="ri-information-fill pe-2"></i>Mis Estadísticas</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
                    data-bs-target="#show-tournaments"><i class="ri-dribbble-line pe-2"></i>Mis Torneos</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
                    data-bs-target="#profile-edit"><i class="ri-edit-2-fill pe-2"></i>Editar Perfil</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <div class="card">
                    <div class="card-body pb-0">
                      <h5 class="card-title pb-0 mb-0">Victorias - Derrotas</h5>

                      <!-- Donut Chart -->
                      <div id="donutChart" style="min-height: 250px;" class="echart d-flex align-items-center"></div>

                      <div hidden id="numWins">{{loginService.currentUser().numWins}}</div>
                      <div hidden id="numLoses">{{loginService.currentUser().numLoses}}</div>

                      <script src="/assets/js/stats.js"></script>

                      <!-- Donut Chart End -->
                    </div>
                  </div>

                  <div class="card mb-0">
                    <div class="card-body pb-0">
                      <h5 class="card-title pb-0 mb-0">Karma</h5>
                      <div hidden id="historicalKarma">{{loginService.currentUser().historicalKarma}}</div>

                      <!-- Line Chart -->
                      <div id="lineChart" style="min-height: 400px;" class="echart d-flex align-items-center"></div>

                      <script src="/assets/js/karma.js"></script>
                      <!-- End Line Chart -->

                    </div>
                  </div>

                </div>

                 <!-- Show tournaments -->
                <div class="tab-pane fade pt-3" id="show-tournaments">

                  <span id="elements">

                    <section *ngFor="let userTournament of userTournaments" class="card tournament-card mb-2">
                      <a class="d-flex justify-content-between" [routerLink]="['/tournament',userTournament.id]">
                        <div class="d-flex flex-row">
                          <div class="tournament-img-mini p-3 me-2">

                            <img *ngIf="userTournament.image" class="rounded-circle border-green bg-232323"
                            src="/api/tournaments/{{userTournament?.id}}/image">
                            <img *ngIf="!userTournament.image" class="rounded-circle border-green bg-232323"
                            src="/assets/images/product_02.jpg">

                          </div>
                          <div class="d-flex align-items-center ps-2">
                            <div>
                              <h3 class="mt-0 fw-bold">{{userTournament.tournamentName}}</h3>
                              <div>
                                  <div> <progress class="progress-bar round mb-1" value="{{userTournament.numSignedUp}}" max="{{userTournament.numParticipants}}"> </progress></div>
                              </div>
                              <h6>Participantes: {{userTournament.numSignedUp}}/{{userTournament.numParticipants}}<span class="ps-5">{{userTournament.location}}</span></h6>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center p-2 pe-0 ms-5">
                          <div class="text-center">
                            <h6 class="pb-1 date-title">Fin de inscripciones</h6>
                            <h6 class="pt-1"><em>{{userTournament.inscriptionDate}}</em></h6>
                          </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center p-2 ps-0 me-4">
                          <div class="text-center">
                            <h6 class="py-1 date-title">Inicio del torneo</h6>
                            <h6 class="pt-1"><em>{{userTournament.startDate}}</em></h6>
                          </div>
                        </div>

                      </a>
                    </section>

                  </span>

                  <div *ngIf="hasMoreUserTournaments" class="row">
                    <div class="d-flex justify-content-center">
                      <a class="cargar-mas mb-2" (click)="getUserTournaments()">Cargar más</a>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="update_userProfile/{{loginService.currentUser().id}}" >
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil </label>

                      <!--  <div class="col-md-8 col-lg-9">
                        {{#user.image}}
                        <img src="/user/{{user.id}}/image"><br>
                        <input type='checkbox' name='removeImage'> <label>Remove image</label><br>

                        {{/user.image}} -->

                        <img *ngIf="!hasImage()"
                        src="/assets/images/no_profile_photo.jpg"> <br>

                        <input type='file' name='imageField' accept=".jpg, .jpeg">

                    </div>

                    <div class="row mb-3">
                      <label for="username" class="col-md-4 col-lg-3 col-form-label">Usuario @</label>
                      <div class="col-md-8 col-lg-9">

                        <input #username name="userN" type="text" class="form-control" id="username" value="{{loginService.currentUser().name}}"
                          disabled>

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre completo</label>
                      <div class="col-md-8 col-lg-9">
                        <input #fullName name="fullName" type="text" class="form-control" id="fullName" value="{{loginService.currentUser().realName}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="location" class="col-md-4 col-lg-3 col-form-label">Localidad</label>
                      <div class="col-md-8 col-lg-9">
                        <input #location name="location" type="text" placeholder="Introduce tu localidad" class="form-control"
                          id="location" value="{{loginService.currentUser().location}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">País</label>
                      <div class="col-md-8 col-lg-9">
                        <input #country name="country" type="text" placeholder="Introduce tu país" class="form-control"
                          id="Country" value="{{loginService.currentUser().country}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo eletrónico</label>
                      <div class="col-md-8 col-lg-9">
                        <input #email name="email" type="email" class="form-control" id="Email" value="{{loginService.currentUser().email}}"
                          disabled>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
                      <div class="col-md-8 col-lg-9">
                        <input #phone name="phone" type="text" placeholder="Introduce tu teléfono" class="form-control"
                          id="Phone" value="{{loginService.currentUser().phone}}">
                      </div>
                    </div>

                    <!-- <input type="hidden" name="_csrf" value="{{token}}" /> -->
                    <div class="text-center">
                      <button class="btn btn-green fw-bold"(click)="updateUserForm($event,fullName.value,location.value, country.value,
                      phone.value)" type="submit">Guardar cambios</button>
                    </div>


                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
</body>
