{{>stylesheets}} <!-- Css imports and more -->

<body class="bg-232323">

  {{>header}} <!--Header-->

  <!-- Page Content -->
  <!-- Banner Starts Here 
  <div class="banner header-text">
    <div class="banner-item-01">
      <div class="container">
        <h2 id="tituloPagAdmin"><em>PÁGINA DEL ADMIN</em></h2>
      </div>
    </div>
  </div>
   Banner Ends Here -->

  <div class="container main-tournament">

    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">

          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#players">Jugadores</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tournaments">Torneos</button>
          </li>



        </ul>

        <!-- <div class="topnav d-flex justify-content-center">
          <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="ri-search-line"></i></button>
            </form>
          </div>
        </div> -->
        
        <div class="tab-content pt-2">

          <!--Player finder-->
          <div class="tab-pane fade show active profile-edit pt-3" id="players">

            <div class="card text-center">
              <div class="card-body profile-card pt-2 d-flex flex-column justify-content-center">
                <h2 class="mt-2 mb-1">Usuarios encontrados</h2>
                <span id="elements2">
                  {{#adminUsers}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex lineUser">
                        <div>{{#image}}
                          <img class="userFinder" src="/user/{{id}}/image">
                          {{/image}}
              
                          {{^image}}
                          <img class="userFinder" src="/assets/images/no_profile_photo.jpg">
                          {{/image}}</div>
                        <span class="d-flex align-items-center partner-name">{{name}}</span>

                        <button class="btn btn-danger binUsers"  title="Perma delate users"
                         onclick="location.href='/removeUser/{{id}}'">Remove</button>
                        
                        <!-- <a href="#" class="btn btn-danger binUsers"  title="Perma delate users"><i class="ri-delete-bin-fill" ></i></a> -->
                      </div>
                    </div>
                  </div>
                  {{/adminUsers}}
                  <div id="loadArea2-{{adminnextpage}}"></div>
                </span>
                {{#numAdminUsers}}
                <row>
                    <col-md-12 class="d-flex justify-content-center">
                    <div>
                        <button class="button-no-format" id="loadMore" onclick="loadMoreUsersAdmin()">
                            <p class="cargar-mas">Cargar más</p>
                        </button>
                    </div>  
                    </col-md-12>
                </row>
                {{/numAdminUsers}}
              </div>

              
            </div>
          </div>

          <!--Tournament finder-->
          <div class="tab-pane fade profile-edit pt-3" id="tournaments">
            <div class="card text-center">
              <div class="card-body profile-card pt-2 d-flex flex-column justify-content-center">
                <h2 class="mt-2 mb-1">Torneos encontrados</h2>
                
                <span id="elements">
                  {{#adminTourns}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex lineTournament">
                        <div>{{#image}}
                          <img class="tournamentFinder" src="/tourns/{{id}}/image">
                          {{/image}}
              
                          {{^image}}
                          <img class="tournamentFinder" src="/assets/images/product_02.jpg">
                          {{/image}}</div>
                        <span class="d-flex align-items-center partner-name">{{tournamentName}}</span>
                        <button class="btn btn-danger binUsers"  title="Perma delate users"
                        onclick="location.href='/removeTournament/{{id}}'">Remove</button>
                       
                      </div>
                    </div>
                  </div>             
                  {{/adminTourns}}
                
                  <div id="loadArea-{{adminnextpage}}"></div>
                </span>
                {{#numAdminTourns}}
                <row>
                    <col-md-12 class="d-flex justify-content-center">
                    <div>
                        <button class="button-no-format" id="loadMore" onclick="loadMoreTournsAdmin()">
                            <p class="cargar-mas">Cargar más</p>
                        </button>
                    </div>  
                    </col-md-12>
                </row>
                {{/numAdminTourns}}
              </div>
            </div>
          </div>

        </div><!-- End Bordered Tabs -->

      </div>
    </div>
  </div>

{{>javascripts}} <!-- JS and scripts -->