{{>stylesheets}} <!-- Css imports and more -->

<body>
    {{>header}} <!--Header-->
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text mb-4">
        <div class="banner-item-01">
            <div class="container">
                <a class="button btn-crea-torneo" href="/create_tournament">Crea un torneo</a>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- My tournaments. Only for logged users-->
    {{#logged}}
    <div class="lista-torneos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Mis torneos</h2>
                    </div>
                </div>
                <div class="row" id="elements2">
                    {{#mytourns}}
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="/tourns/{{id}}">
                                {{#image}}
                                <img class="img-lista-torneos" src="/tourns/{{id}}/image">
                                {{/image}}
                    
                                {{^image}}
                                <img class="img-lista-torneos" src="/assets/images/product_02.jpg">
                                {{/image}}
                            </a>
                            <div class="down-content text-center">
                                <a href="/tourns/{{id}}">
                                    <h4>{{tournamentName}}</h4>
                                </a>
                                <p>{{inscriptionDate}}</p>
                                <span>{{numParticipants}} equipos</span>
                            </div>
                        </div>
                    </div>
                    {{/mytourns}}
                    <div id="loadArea2-{{nextpage2}}"></div>
                </div>
                {{#numMyTourns}}
                <row>
                    <col-md-12 class="d-flex justify-content-center">
                    <div>
                        <button class="button-no-format" id="loadMore" onclick="loadMoreMyTournsMain()">
                            <p class="cargar-mas mb-5">Cargar más</p>
                        </button>
                    </div>  
                    </col-md-12>
                </row>
                {{/numMyTourns}}
            </div>
        </div>
    </div>
    
    {{/logged}}
    <!-- End of my tournaments. Only for logged users-->
    <div class="lista-torneos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Últimos torneos</h2>
                    </div>
                </div>
                <div class="row" id="elements">
                    {{#tourns}}               
                    <div class="col-md-4">
                        <div class="product-item">
                            <!-- select image from DB when necessary-->  
                                            
                            <a href="/tourns/{{id}}">
                                {{#image}}
                                <img class="img-lista-torneos" src="/tourns/{{id}}/image">
                                {{/image}}
                    
                                {{^image}}
                                <img class="img-lista-torneos" src="/assets/images/product_02.jpg">
                                {{/image}}
                            </a>
                    
                            <div class="down-content text-center">
                                <a href="/tourns/{{id}}">
                                    <h4>{{tournamentName}}</h4> <!-- tournamentName-->
                                </a>
                                <p>{{inscriptionDate}}</p>                           
                                <span>{{numParticipants}} equipos</span> <!-- numParticipants-->
                                
                            </div>
                        </div>
                    </div>
                    {{/tourns}}
                    <div id="loadArea-{{nextpage}}"></div>
                </div>
                {{#numTourns}}   
                <row>
                    <col-md-12 class="d-flex justify-content-center">
                    <div>
                        <button class="button-no-format" id="loadMore" onclick="loadMoreTournsMain()">
                            <p class="cargar-mas mb-5">Cargar más</p>
                        </button>
                    </div>  
                    </col-md-12>
                </row>
                {{/numTourns}}
            </div>
        </div>
    </div>   

{{>javascripts}} <!-- JS and scripts -->