{{>stylesheets}} <!-- Css imports and more -->

<body>
    {{>header}} <!--Header-->
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="banner-item-01">
            <div class="container">
                <a class="button btn-crea-torneo" href="/create_tournament">
                    Crea un torneo
                </a>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="topnav nav justify-content-center">
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
        </div>
    </div>

    <!-- My tournaments. Only for logged users-->
    {{#logged}}
    <div class="lista-torneos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Mis torneos</h2>
                    </div>
                </div>
                {{#mytourns}}
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="/tourns/{{id}}">
                            <!-- <img class="img-lista-torneos" src="assets/images/product_01.jpg" alt=""> -->
                            {{#image}}
                            <img class="img-lista-torneos" src="/tourns/{{id}}/image">
                            {{/image}}
                
                            {{^image}}
                            <img class="img-lista-torneos" src="/assets/images/product_02.jpg">
                            {{/image}}
                        </a>
                        <div class="down-content text-center">
                            <a href="/tourns/{{id}}">
                                <h4>{{tournamentName}}</h4>
                            </a>
                            <p>{{inscriptionDate}}</p>
                            <span>{{numParticipants}} equipos</span>
                        </div>
                    </div>
                </div>
                {{/mytourns}}
            </div>

            <!-- <row>
                <col-md-12 class="d-flex justify-content-center">
                    <button class="cargar-mas mb-5" href="#" id="loadMore">Cargar más</button>
                </col-md-12>

            </row> -->

        </div>
    </div>
    
    {{/logged}}
    <!-- End of my tournaments. Only for logged users-->
    <div class="lista-torneos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Ultimos torneos</h2>
                    </div>
                </div>
                <div class="row" id="elements">
                    {{#tourns}}               
                    <div class="col-md-4">
                        <div class="product-item">
                            <!-- select image from DB when necessary-->  
                                            
                            <a href="/tourns/{{id}}">
                                <!-- <img class="img-lista-torneos" src="assets/images/product_01.jpg" alt=""> -->
                                {{#image}}
                                <img class="img-lista-torneos" src="/tourns/{{id}}/image">
                                {{/image}}
                    
                                {{^image}}
                                <img class="img-lista-torneos" src="/assets/images/product_02.jpg">
                                {{/image}}
                            </a>
                    
                            <div class="down-content text-center">
                                <a href="/tourns/{{id}}">
                                    <h4>{{tournamentName}}</h4> <!-- tournamentName-->
                                </a>
                                <p>{{inscriptionDate}}</p>                           
                                <span>{{numParticipants}} equipos</span> <!-- numParticipants-->
                                
                            </div>
                        </div>
                    </div>
                    {{/tourns}}
                    <div id="loadArea-{{nextpage}}"></div>
                </div>
                    
                <row>
                    <col-md-12 class="d-flex justify-content-center">
                        <button class="cargar-mas mb-5" id="loadMore" onclick="loadMoreTournsMain()">Cargar más</button>
                    </col-md-12>
            
                </row>
            </div>
        </div>
    </div>   

{{>javascripts}} <!-- JS and scripts -->