<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Padelante - Crea torneos propios</title>
    <link rel="icon" href="/assets/images/icon.png">

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/vendor/remixicon/remixicon.css">

</head>

<body>
    {{>header}} <!--Header-->
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="banner-item-01">
            <div class="container">
                <a class="button btn-crea-torneo" href="/create_tournament">
                    Crea un torneo
                </a>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="topnav nav justify-content-center">
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
        </div>
    </div>

    <!-- My tournaments. Only for logged users-->
    {{#logged}}
    <div class="lista-torneos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Mis Torneos</h2>
                    </div>
                </div>

                {{#tourns}}               
                <div class="col-md-4">
                    <div class="product-item">
                        <!-- select image from DB when necessary-->                     
                        <a href="/tourns/{{id}}"><img class="img-lista-torneos" src="assets/images/product_01.jpg" alt=""></a>
                        <div class="down-content text-center">
                            <a href="/tourns/{{id}}">
                                <h4>{{tournamentName}}</h4> <!-- tournamentName-->
                            </a>                           
                            <span>{{numParticipants}} equipos</span> <!-- numParticipants-->
                        </div>
                    </div>
                </div>
                {{/tourns}}

            </div>
        </div>
    </div>
    {{/logged}}
    <!-- End of my tournaments. Only for logged users-->

    

    <div class="lista-torneos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Últimos Torneos</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="/tournament"><img class="img-lista-torneos" src="assets/images/product_01.jpg" alt=""></a>
                        <div class="down-content text-center">
                            <a href="/tournament">
                                <h4>eGrillos Cup</h4>
                            </a>
                            <p>16/02/2022</p>
                            <span>25/32 equipos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="/tournament"><img class="img-lista-torneos" src="assets/images/product_02.jpg" alt=""></a>
                        <div class="down-content text-center">
                            <a href="/tournament">
                                <h4>Chikopa</h4>
                            </a>
                            <p>16/02/2022</p>
                            <span>10/32 equipos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="/tournament"><img class="img-lista-torneos" src="assets/images/product_03.jpg" alt=""></a>
                        <div class="down-content text-center">
                            <a href="/tournament">
                                <h4>Otaku Champion</h4>
                            </a>
                            <p>16/02/2022</p>
                            <span>10/32 equipos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="/tournament"><img class="img-lista-torneos" src="assets/images/product_04.jpg" alt=""></a>
                        <div class="down-content text-center">
                            <a href="/tournament">
                                <h4>Pachanga de la urba</h4>
                            </a>
                            <p>16/02/2022</p>
                            <span>10/32 equipos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="/tournament"><img class="img-lista-torneos" src="assets/images/product_05.jpg" alt=""></a>
                        <div class="down-content text-center">
                            <a href="/tournament">
                                <h4>10distintos</h4>
                            </a>
                            <p>16/02/2022</p>
                            <span>30/32 equipos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="/tournament"><img class="img-lista-torneos" src="assets/images/product_06.jpg" alt=""></a>
                        <div class="down-content text-center">
                            <a href="/tournament">
                                <h4>Copa Pistón</h4>
                            </a>
                            <p>16/02/2022</p>
                            <span>10/32 equipos</span>
                        </div>
                    </div>
                </div>
            </div>

            <row>
                <col-md-12 class="d-flex justify-content-center">
                    <a class="cargar-mas mb-5" href="#">Cargar más</a>
                </col-md-12>

            </row>

        </div>
    </div>


    

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/main.js"></script>


    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) { //declaring the array outside of the
            if (!cleared[t.id]) { // function makes it static and global
                cleared[t.id] = 1; // you could use true and false, but that's more typing
                t.value = ''; // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>


</body>

</html>