{{>stylesheets}} <!-- Css imports and more -->

<body class="bg-232323">

    {{>header}} <!--Header-->

    <!-- Page Content -->

    <main class="container main-tournament tournament">

        <section class="card tournament-card">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row">
                    <div class="tournament-img p-3">
                        <img src="assets/images/profile-img.jpg" alt="Tournament Image"
                            class="rounded-circle border-green">
                    </div>
                    <div class="d-flex align-items-center ps-2">
                        <div>
                            <h2 class="mt-0">eGrillos Cup</h2>
                            <h3 class="d-flex align-items-center pt-2"><em>Organizador:</em>
                                <img src="assets/images/profile-img.jpg" alt="Profile"
                                    class="tournament-img rounded-circle border-green-tiny small ms-2 me-1">
                                Kevin Anderson
                            </h3>
                            <div class="progress my-2">
                                <div class="progress-bar bg-green" role="progressbar" style="width: 25%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h5>Participantes: 8/32</h5>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center p-2 me-5">
                    <div class="text-center">
                        <h3 class="py-1 date-title">Fin de inscripciones</h3>
                        <h3 class="py-1"><em>20/02/2022 17:00</em></h3>
                        <h3 class="py-1 date-title">Inicio del torneo</h3>
                        <h3 class="py-1"><em>21/02/2022 17:00</em></h3>
                    </div>
                </div>
                <!-- <div class="d-flex align-items-center justify-content-end p-2 pe-3">
                    <div>
                        <div class="d-flex justify-content-end">
                            <a class="button btn-tournament upper-text my-1" href="#"><i class="ri-heart-3-fill pe-1"></i> Seguir</a>
                        </div>
                        <div class="d-flex justify-content-end">
                
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="button btn-tournament upper-text my-1" href="#"><i class="ri-tools-fill pe-1"></i>
                                Admin</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>

        <!--Section add results-->
        <section>
            <div class="container">
                <div class="row">
                    <!--First pair-->
                    <div class="col-md-4 ps-0">
                        <div class="card h-100">
                            <div class="card-header text-center date-title">
                                <span> PEPE/RAMÓN </span>
                            </div>
                            <div
                                class="card-body profile-card pt-2 d-flex flex-column justify-content-center align-items-center">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex justify-content-start align-middle mt-2">
                                            <div><img src="assets/images/profile-img.jpg" alt="Profile"
                                                    class="partner-img rounded-circle border-green-tiny small me-2">
                                            </div>
                                            <span class="d-flex align-items-center partner-name">Pepe Marín</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex justify-content-start align-middle mt-2">
                                            <div><img src="assets/images/team_01.jpg" alt="Profile"
                                                    class="partner-img rounded-circle border-green-tiny small me-2">
                                            </div>
                                            <span class="d-flex align-items-center partner-name">Ramón Tadito</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Results -->
                    <!-- Compress width of inputs -->
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-header text-center date-title">
                                <span> RESULTADOS </span>
                            </div>
                            <div
                                class="card-body profile-card pt-2 pb-0 d-flex flex-column justify-content-center align-items-center">
                                <!--Primer set-->
                                <div class="row my-1">
                                    <div class="col-sm">
                                        <select class="form-select bg-232323 color-fff fw-bold px-1" name="sets1" id="sets1">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="6">7</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <span>_______</span>
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select bg-232323 color-fff fw-bold px-1" name="sets2" id="sets2">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="6">7</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Segundo set-->
                                <div class="row my-1">
                                    <div class="col-sm">
                                        <select class="form-select bg-232323 color-fff fw-bold px-1" name="sets3" id="sets3">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="6">7</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <span>_______</span>
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select bg-232323 color-fff fw-bold px-1" name="sets4" id="sets4">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="6">7</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Tercer set-->
                                <div class="row my-1">
                                    <div class="col-sm">
                                        <select class="form-select bg-232323 color-fff fw-bold px-1" name="sets5" id="sets5">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="6">7</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <span>_______</span>
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select bg-232323 color-fff fw-bold px-1" name="sets6" id="sets6">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="6">7</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Guardar resultados-->
                                <div class="row my-1">
                                    <button class="btn bg-green color-121212 fw-bold upper-text mt-3">Guardar resultado</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Second pair-->
                    <div class="col-md-4 pe-0">
                        <div class="card h-100">
                            <div class="card-header text-center date-title">
                                <span> JUAN/ÁLVARO </span>
                            </div>
                            <div
                                class="card-body profile-card pt-2 d-flex flex-column justify-content-center align-items-center">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex justify-content-start align-middle mt-2">

                                            <div><img src="assets/images/profile-img.jpg" alt="Profile"
                                                    class="partner-img rounded-circle border-green-tiny small me-2">
                                            </div>
                                            <span class="d-flex align-items-center partner-name">Juan Jurado</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex justify-content-start align-middle mt-2">
                                            <div><img src="assets/images/team_01.jpg" alt="Profile"
                                                    class="partner-img rounded-circle border-green-tiny small me-2">
                                            </div>
                                            <span class="d-flex align-items-center partner-name">Álvaro González</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </section>
    </main>

{{>javascripts}} <!-- JS and scripts -->