{{>stylesheets}} <!-- Css imports and more -->

<body>

    <main class="bg-232323">
        <div class="container">

            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <!-- <h1>404</h1> -->
                <h2> El usuario {{u}} ya existe, elige otro</h2>
                <h2>No te desanimes, hay que seguir Padelante</h2>
                <a class="btnBackE404" href="/register">Volver al registro</a>
                <img src="/assets/images/not-found.svg" class="img-fluid py-5" alt="Page Not Found">

            </section>

        </div>
    </main>
    <!-- End #main -->




    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>