{{>stylesheets}}
<!-- Css imports and more -->

<body class="bg-232323">

  {{>header}}
  <!--Header-->

  <!-- Page Content -->

  <main class="container main-tournament tournament">

    <section class="card tournament-card">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row">
          <div class="tournament-img p-3">


            {{#tourns.image}}
            <img src="/tourns/{{tourns.id}}/image">
            {{/tourns.image}}

            {{^tourns.image}}
            <img src="/assets/images/product_01.jpg">
            {{/tourns.image}}


            <!-- <img src="/assets/images/icon.png" alt="Tournament Image" class="rounded-circle border-green bg-232323"> -->
          </div>
          <div class="d-flex align-items-center ps-2">
            <div>
              <h2 class="mt-0">{{tourns.tournamentName}}</h2>
              <h3 class="d-flex align-items-center pt-2"><em>Organizador:</em>
                <img src="/assets/images/profile-img.jpg" alt="Profile"
                  class="tournament-img rounded-circle border-green-tiny small ms-2 me-1">
                Kevin Anderson
              </h3>
              <div class="progress my-2">
                <div class="progress-bar bg-green" role="progressbar" style="width: 12.5%" aria-valuenow="4"
                  aria-valuemin="0" aria-valuemax="32"></div>
              </div>
              <h5>Participantes: 4/32<span class="ps-5">Madrid</span></h5>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center p-2">
          <div class="text-center">
            <h3 class="py-1 date-title">Fin de inscripciones</h3>
            <h3 class="py-1"><em>20/02/2022 17:00</em></h3>
            <h3 class="py-1 date-title">Inicio del torneo</h3>
            <h3 class="py-1"><em>21/02/2022 17:00</em></h3>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end p-2 pe-3">
          <div>
            <!-- <div class="d-flex justify-content-end">
              <a class="button btn-tournament upper-text my-1" href="#"><i class="ri-heart-3-fill pe-1"></i> Seguir</a>
            </div> -->
            <div class="d-flex justify-content-end">
              <a class="d-inline button btn-tournament upper-text my-1" href="#" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <i class="ri-edit-fill pe-1"></i> Incribirse
              </a>
            </div>
            <!-- <div class="d-flex justify-content-end">
              <a class="button btn-tournament upper-text my-1" href="#"><i class="ri-tools-fill pe-1"></i> Admin</a>
            </div> -->

            <!-- Pop Up Inscriptions -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title fw-bold" id="staticBackdropLabel">Añade a tu pareja</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="d-flex justify-content-center mb-2">
                      <div class="search-bar">
                        <form class="search-form d-flex align-items-center" method="POST" action="#">
                          <input type="text" name="query" placeholder="Introducir usuario" title="Introducir usuario">
                          <button type="submit" title="Search"><i class="ri-search-line"></i></button>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between lineUser">
                          <div class="pe-2">
                            <img src="/assets/images/profile-img.jpg" alt="Profile"
                              class="partner-img rounded-circle border-green-tiny small me-2">Kevin Ander
                          </div>
                          <a href="#" class="btn addUser me-2 fw-bold" title="add partner"><i
                              class="ri-add-line"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-232323 color-fff fw-bold" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-green color-121212 fw-bold">Accept</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Pop Up Inscriptions -->

          </div>
        </div>
      </div>
    </section>

    <div class="card">
      <div class="card-body py-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">

          <li class="nav-item">
            <button class="nav-link active d-flex align-items-center" data-bs-toggle="tab"
              data-bs-target="#tournament-info"><i class="ri-information-fill pe-2"></i>Información</button>
          </li>

          <li class="nav-item">
            <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
              data-bs-target="#tournament-bracket"><i class="ri-organization-chart pe-2"></i>Bracket</button>
          </li>

          <li class="nav-item">
            <button class="nav-link d-flex align-items-center" data-bs-toggle="tab" data-bs-target="#league-matches"><i
                class="ri-organization-chart pe-2"></i>Jornadas</button>
          </li>

          <li class="nav-item">
            <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
              data-bs-target="#league-clasification"><i class="ri-organization-chart pe-2"></i>Clasificación</button>
          </li>

          <li class="nav-item">
            <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
              data-bs-target="#tournament-settings"><i class="ri-settings-3-fill pe-2"></i>Ajustes admin</button>
          </li>

        </ul>
        <div class="tab-content pt-2">
          <!-- Tournament Info -->
          <div class="tab-pane fade show active profile-overview" id="tournament-info">
            <h5 class="card-title">Sobre el torneo</h5>
            <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus.
              Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet
              perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

            <h5 class="card-title">Reglamento</h5>
            <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus.
              Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet
              perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

            <h5 class="card-title pb-1">Participantes</h5>

            <div class="row py-2 pair-tournament">
              <div class="col-md-11 d-flex justify-content-start align-items-center">
                <div class="pe-2">
                  <img src="/assets/images/profile-img.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Kevin Ander
                </div>
                <i class="ri-arrow-left-right-fill"></i>
                <div class="ps-2">
                  <img src="/assets/images/team_01.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Paco Navarrito
                </div>
              </div>
              <div class="col-md-1 d-flex justify-content-end align-items-center">
                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                    class="ri-delete-bin-fill"></i></a>
              </div>
            </div>

            <div class="row py-2 pair-tournament">
              <div class="col-md-11 d-flex justify-content-start align-items-center">
                <div class="pe-2">
                  <img src="/assets/images/profile-img.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Kevin Ander
                </div>
                <i class="ri-arrow-left-right-fill"></i>
                <div class="ps-2">
                  <img src="/assets/images/team_01.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Paco Navarrito
                </div>
              </div>
              <div class="col-md-1 d-flex justify-content-end align-items-center">
                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                    class="ri-delete-bin-fill"></i></a>
              </div>
            </div>

            <div class="row py-2 pair-tournament">
              <div class="col-md-11 d-flex justify-content-start align-items-center">
                <div class="pe-2">
                  <img src="/assets/images/profile-img.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Kevin Ander
                </div>
                <i class="ri-arrow-left-right-fill"></i>
                <div class="ps-2">
                  <img src="/assets/images/team_01.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Paco Navarrito
                </div>
              </div>
              <div class="col-md-1 d-flex justify-content-end align-items-center">
                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                    class="ri-delete-bin-fill"></i></a>
              </div>
            </div>

            <div class="row py-2 pair-tournament">
              <div class="col-md-11 d-flex justify-content-start align-items-center">
                <div class="pe-2">
                  <img src="/assets/images/profile-img.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Kevin Ander
                </div>
                <i class="ri-arrow-left-right-fill"></i>
                <div class="ps-2">
                  <img src="/assets/images/team_01.jpg" alt="Profile"
                    class="partner-img rounded-circle border-green-tiny small me-2">Paco Navarrito
                </div>
              </div>
              <div class="col-md-1 d-flex justify-content-end align-items-center">
                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                    class="ri-delete-bin-fill"></i></a>
              </div>
            </div>
          </div>

          <div class="tab-pane fade pt-3" id="tournament-bracket">
            <!-- Tournament Bracket -->
            <div class="container pb-2">
              <div class="tournament-bracket tournament-bracket--rounded">
                <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
                  <h3 class="tournament-bracket__round-title">Cuartos de final</h3>
                  <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-18">18 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">CAN</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">4</span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">KAZ</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">1</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>

                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-18">18 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">CZE</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">4</span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">USA</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">1</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-18">18 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">FIN</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">2</span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">SVE</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">1</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>

                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-18">18 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">RUS</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">4</span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">BEL</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">1</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--semifinals">
                  <h3 class="tournament-bracket__round-title">Semifinales</h3>
                  <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-20">20 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">CAN</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">1</span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">CZE</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">2</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>

                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-20">20 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">FIN</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">4</span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">RUS</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">7</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--bronze">
                  <h3 class="tournament-bracket__round-title">Tercer-cuarto puesto</h3>
                  <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-21">21 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">FIN</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">3</span>
                                <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy"
                                  aria-label="Bronze medal"></span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">CAN</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">2</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--gold">
                  <h3 class="tournament-bracket__round-title">Final</h3>
                  <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                      <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                          <caption class="tournament-bracket__caption">
                            <time datetime="1998-02-22">22 February 1998</time>
                          </caption>
                          <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team tournament-bracket__team--winner">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">CZE</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">1</span>
                                <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy"
                                  aria-label="Gold medal"></span>
                              </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                              <td class="tournament-bracket__team-name">
                                <abbr class="tournament-bracket__code">RUS</abbr>
                              </td>
                              <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">0</span>
                                <span class="tournament-bracket__medal tournament-bracket__medal--silver fa fa-trophy"
                                  aria-label="Silver medal"></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>


          <div class="tab-pane fade profile-edit pt-3" id="league-matches">

            <ul class="league-bracket__list">
              <li class="league-bracket__item">
                <div class="league-bracket__match" tabindex="0">
                  <table class="league-bracket__table">
                    <caption class="league-bracket__caption">
                      <time datetime="1998-02-18">18 February 1998</time>
                    </caption>
                    <tbody class="league-bracket__content">
                      <tr class="league-bracket__team league-bracket__team--winner">
                        <td class="league-bracket__team-name">
                          <abbr class="league-bracket__code">
                            Paco Navarro
                            <i class="ri-arrow-left-right-fill"></i>
                            Pepe Medina</abbr>
                        </td>
                        <td class="league-bracket__score">
                          <span class="league-bracket__number">4</span>
                        </td>
                      </tr>
                      <tr class="league-bracket__team">
                        <td class="league-bracket__team-name">
                          <abbr class="league-bracket__code">
                            Paco Sanz
                            <i class="ri-arrow-left-right-fill"></i>
                            Juan Ruiz</abbr>
                        </td>
                        <td class="league-bracket__score">
                          <span class="league-bracket__number">1</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>

              <li class="league-bracket__item">
                <div class="league-bracket__match" tabindex="0">
                  <table class="league-bracket__table">
                    <caption class="league-bracket__caption">
                      <time datetime="1998-02-18">18 February 1998</time>
                    </caption>
                    <tbody class="league-bracket__content">
                      <tr class="league-bracket__team league-bracket__team--winner">
                        <td class="league-bracket__team-name">
                          <abbr class="league-bracket__code">
                            Carlos Sanz
                            <i class="ri-arrow-left-right-fill"></i>
                            Sara Ruiz</abbr>
                        </td>
                        <td class="league-bracket__score">
                          <span class="league-bracket__number">4</span>
                        </td>
                      </tr>
                      <tr class="league-bracket__team">
                        <td class="league-bracket__team-name">
                          <abbr class="league-bracket__code">
                            Pepe Navarro
                            <i class="ri-arrow-left-right-fill"></i>
                            Juan Gonzalez
                          </abbr>
                        </td>
                        <td class="league-bracket__score">
                          <span class="league-bracket__number">1</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>

          </div>


          <div class="tab-pane fade profile-edit pt-3" id="league-clasification">



          </div>


          <div class="tab-pane fade profile-edit pt-3" id="tournament-settings">

            <!-- Tournament Settings Admin -->
            <form>
              <div class="row mb-3">
                <label for="tournamentImage" class="col-md-4 col-lg-3 col-form-label">Imagen del torneo</label>
                <div class="col-md-8 col-lg-9 tournament-img">
                  <img src="/assets/images/icon.png" alt="tournamentImage">
                  <div class="pt-2">
                    <a href="#" class="btn btn-green btn-sm" title="Upload new profile image"><i
                        class="ri-upload-2-fill"></i></a>
                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                        class="ri-delete-bin-fill"></i></a>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="name" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                <div class="col-md-8 col-lg-9">
                  <input name="name" type="text" class="form-control" id="name" value="eGrillos Cup">
                </div>
              </div>

              <div class="row mb-3">
                <label for="about" class="col-md-4 col-lg-3 col-form-label">Sobre el torneo</label>
                <div class="col-md-8 col-lg-9">
                  <textarea name="about" class="form-control" id="about"
                    style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                </div>
              </div>

              <div class="row mb-3">
                <label for="ruleset" class="col-md-4 col-lg-3 col-form-label">Reglamento</label>
                <div class="col-md-8 col-lg-9">
                  <textarea name="ruleset" class="form-control" id="ruleset"
                    style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                </div>
              </div>

              <div class="row mb-3">
                <label for="location" class="col-md-4 col-lg-3 col-form-label">Localidad</label>
                <div class="col-md-8 col-lg-9">
                  <input name="location" type="text" class="form-control" id="location" value="Madrid">
                </div>
              </div>

              <div class="row mb-3">
                <label for="participants" class="col-md-4 col-lg-3 col-form-label">Participantes</label>
                <div class="col-md-8 col-lg-9">
                  <select class="form-select" id="participants">
                    <option value="1">2</option>
                    <option value="2">4</option>
                    <option value="3">8</option>
                    <option value="4">16</option>
                    <option selected value="5">32</option>
                    <option value="6">64</option>
                    <option value="7">128</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inscription-date" class="col-md-4 col-lg-3 col-form-label">Fin de inscripciones</label>
                <div class="col-md-8 col-lg-9">
                  <input name="inscription-date" type="datetime-local" class="form-control" id="inscription-date"
                    value="2022-02-20T17:00">
                </div>
              </div>

              <div class="row mb-3">
                <label for="start-date" class="col-md-4 col-lg-3 col-form-label">Inicio del torneo</label>
                <div class="col-md-8 col-lg-9">
                  <input name="start-date" type="datetime-local" class="form-control" id="start-date"
                    value="2022-02-21T17:00">
                </div>
              </div>

              <div class="row mb-3">
                <label for="seeding" class="col-md-4 col-lg-3 col-form-label">Seeding</label>
                <div class="col-md-8 col-lg-9">
                  <select class="form-select" id="seeding" filter="true" disabled>
                    <option selected value="1">Aleatorio</option>
                    <option value="2">Manual</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="visibility" class="col-md-4 col-lg-3 col-form-label">Visibilidad</label>
                <div class="col-md-8 col-lg-9">
                  <select class="form-select" id="visibility" filter="true" disabled>
                    <option selected value="1">Público</option>
                    <option value="2">Privado</option>
                  </select>
                </div>
              </div>

              <!-- <div class="row mb-3">
                <label for="invite" class="col-md-4 col-lg-3 col-form-label">Invitar participantes</label>
                <div class="col-md-8 col-lg-9">
                  <div class="search-bar">
                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                      <input type="text" name="invite" placeholder="Introducir usuario" title="Introducir usuario" id="invite">
                      <button type="submit" title="Search"><i class="ri-search-line"></i></button>
                    </form>
                  </div>
                </div>
              </div> -->






              <div class="text-center">
                <button class="btn btn-green fw-bold" type="submit">Guardar cambios</button>
              </div>
            </form><!-- End Profile Edit Form -->

          </div>

        </div><!-- End Bordered Tabs -->

      </div>
    </div>
  </main>

  {{>javascripts}}
  <!-- JS and scripts -->