{{>stylesheets}}
<!-- Css imports and more -->

<body class="bg-232323">

  {{>header}}
  <!--Header-->

  <main class="container main-profile">

    <section class="section profile">
      <div class="row">
        <div class="col-lg-3">

          <div class="card text-center">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              {{#user.image}}
              <img src="/user/{{user.id}}/image" alt="Tournament Image" class="rounded-circle border-green bg-232323">
              {{/user.image}}

              {{^user.image}}
              <img src="/assets/images/no_profile_photo.jpg" alt="Tournament Image"
                class="rounded-circle border-green bg-232323">
              {{/user.image}}

              <!-- <img src="/assets/images/no_profile_photo.jpg" alt="Profile" class="rounded-circle border-green"> -->
              <h2>{{user.realName}}</h2>
              <h3 class="mt-1 color-green"><span class="fw-bold">@{{user.name}}</span></h3>
              <h3 class="my-2">Karma: <span class="color-green fw-bold">{{user.karma}} puntos</span></h3>
              <h3 class="mb-3">{{user.location}} {{user.country}}</h3>
              <!-- <div class="social-links mt-2">
                <a href="#" class="email"><i class="ri-mail-fill"></i></a>
                <a href="#" class="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                <a href="#" class="twitter"><i class="ri-twitter-fill"></i></a>
                <a href="#" class="instagram"><i class="ri-instagram-fill"></i></a>
                <a href="#" class="discord"><i class="ri-discord-fill"></i></a>
              </div> -->
            </div>
          </div>

          <div class="card text-center">
            <div class="card-body profile-card pt-2 d-flex flex-column justify-content-center align-items-center">
              <h2 class="mb-1">Tus parejas</h2>

              <div class="row">
                <div class="col-md-12">
                  <div class="d-flex justify-content-start align-middle mt-2">
                    <div><img src="assets/images/profile-img.jpg" alt="Profile"
                        class="partner-img rounded-circle border-green-tiny small me-2"></div>
                    <span class="d-flex align-items-center partner-name">Kevin Anderson</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="d-flex justify-content-start align-middle mt-2">
                    <div><img src="assets/images/team_01.jpg" alt="Profile"
                        class="partner-img rounded-circle border-green-tiny small me-2"></div>
                    <span class="d-flex align-items-center partner-name">Paco Navarro</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col-lg-9">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active d-flex align-items-center" data-bs-toggle="tab"
                    data-bs-target="#profile-overview"><i class="ri-information-fill pe-2"></i>Mis Estadísticas</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
                    data-bs-target="#show-tournaments"><i class="ri-dribbble-line pe-2"></i>Mis Torneos</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link d-flex align-items-center" data-bs-toggle="tab"
                    data-bs-target="#profile-edit"><i class="ri-edit-2-fill pe-2"></i>Editar Perfil</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <div class="card">
                    <div class="card-body pb-0">
                      <h5 class="card-title pb-0 mb-0">Victorias - Derrotas</h5>

                      <!-- Donut Chart -->
                      <div id="donutChart" style="min-height: 250px;" class="echart d-flex align-items-center"></div>

                      <div hidden id="numWins">{{user.numWins}}</div>
                      <div hidden id="numLoses">{{user.numLoses}}</div>
                      <script src="/assets/js/stats.js"></script>

                      <!-- Donut Chart End -->
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-body pb-0">
                      <h5 class="card-title pb-0 mb-0">Karma</h5>

                      <!-- Line Chart -->
                      <div id="lineChart" style="min-height: 400px;" class="echart d-flex align-items-center"></div>

                      <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          echarts.init(document.querySelector("#lineChart")).setOption({
                            xAxis: {
                              type: 'category',
                              data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                            },
                            yAxis: {
                              type: 'value'
                            },
                            color: ['#67d400', '#121212', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4', '#ea7ccc'],
                            series: [{
                              data: [150, 230, 224, 218, 135, 147, 260],
                              type: 'line',
                              smooth: true
                            }]
                          });
                        });
                      </script>
                      <!-- End Line Chart -->

                    </div>
                  </div>

                </div>

                <div class="tab-pane fade pt-3" id="show-tournaments">
                  <!-- Show tournaments -->
                  <span id="elements">
                    {{#userTourns}}
                    <section class="card tournament-card mb-2">
                      <a class="d-flex justify-content-between" href="/tourns/{{id}}">
                        <div class="d-flex flex-row">
                          <div class="tournament-img-mini p-3 me-2">
                            {{#image}}
                            <img class="rounded-circle border-green bg-232323" src="/tourns/{{id}}/image">
                            {{/image}}
                
                            {{^image}}
                            <img class="rounded-circle border-green bg-232323" src="/assets/images/product_02.jpg">
                            {{/image}}
                          </div>
                          <div class="d-flex align-items-center ps-2">
                            <div>
                              <h3 class="mt-0 fw-bold">{{tournamentName}}</h3>
                              <div>
                                  <div> <progress class="progress-bar round mb-1" value="{{numSignedUp}}" max="{{numParticipants}}"> </progress></div>
                              </div>
                              <h6>Participantes: {{numSignedUp}}/{{numParticipants}}<span class="ps-5">{{location}}</span></h6>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center p-2 pe-0 ms-5">
                          <div class="text-center">
                            <h6 class="pb-1 date-title">Fin de inscripciones</h6>
                            <h6 class="pt-1"><em>{{inscriptionDate}}</em></h6>
                          </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center p-2 ps-0 me-4">
                          <div class="text-center">
                            <h6 class="py-1 date-title">Inicio del torneo</h6>
                            <h6 class="pt-1"><em>{{startDate}}</em></h6>
                          </div>
                        </div>

                      </a>
                    </section>
                    {{/userTourns}}
                    <div id="loadArea-{{nextpage}}"></div>
                  </span>

                  <row>
                    <col-md-12 class="d-flex justify-content-center">
                        <button class="cargar-mas mb-2" id="loadMore" onclick="loadMoreTournsUser()">Cargar más</button>
                    </col-md-12>
                  </row>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="update_userProfile/{{user.id}}" method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil </label>

                      <div class="col-md-8 col-lg-9">
                        <!-- <div class="profile-card"> -->
                        {{#user.image}}
                        <img src="/user/{{user.id}}/image"><br>
                        <input type='checkbox' name='removeImage'> <label>Remove image</label><br>

                        {{/user.image}}

                        {{^user.image}}
                        <img src="/assets/images/no_profile_photo.jpg"> <br>

                        {{/user.image}}


                        <input type='file' name='imageField' accept=".jpg, .jpeg">
                        <!-- <img src="assets/images/profile-img.jpg" alt="Profile"> -->
                        <!-- </div> -->
                        <!-- <div class="pt-2">
                          <a href="#" class="btn btn-green btn-sm" title="Upload new profile image"><i
                              class="ri-upload-2-fill"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                              class="ri-delete-bin-fill"></i></a>
                        </div> -->
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="username" class="col-md-4 col-lg-3 col-form-label">Usuario @</label>
                      <div class="col-md-8 col-lg-9">

                        <input name="userN" type="text" class="form-control" id="username" value="{{user.name}}"
                          disabled>

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre completo</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName" value="{{user.realName}}">
                      </div>
                    </div>

                    <!-- <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">Sobre mí</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="about"
                          style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                      </div>
                    </div> -->

                    <div class="row mb-3">
                      <label for="location" class="col-md-4 col-lg-3 col-form-label">Localidad</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="location" type="text" placeholder="Introduce tu localidad" class="form-control"
                          id="location" value="{{user.location}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">País</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="country" type="text" placeholder="Introduce tu país" class="form-control"
                          id="Country" value="{{user.country}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo eletrónico</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="{{user.email}}"
                          disabled>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" placeholder="Introduce tu teléfono" class="form-control"
                          id="Phone" value="{{user.phone}}">
                      </div>
                    </div>

                    <input type="hidden" name="_csrf" value="{{token}}" />
                    <div class="text-center">
                      <button class="btn btn-green fw-bold" type="submit">Guardar cambios</button>
                    </div>


                  </form><!-- End Profile Edit Form -->

                </div>  

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

    <!--  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>   -->

  </main><!-- End #main -->

  {{>javascripts}}
  <!-- JS and scripts -->