.league-bracket__list {
  display: block;
  height: 100%;
  min-height: 100%;
  width: 100%;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 2em;
  margin-bottom: 2em;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.league-bracket__item {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
  transition: padding 0.2s linear;
}

.league-bracket__match {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 3px solid transparent;
  border-radius: 0.1em;
  box-shadow: 0 2px 0 0 #e5e5e5;
  outline: none;
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
}

.league-bracket__match:focus {
  border-color: #67d400;
}

.league-bracket__match:hover {
  background-color: #eee;
}

.league-bracket__table {
  width: 100%;
}

.league-bracket__content {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0.2em 0.1em;
}

.league-bracket__content .league-bracket__team:first-child .league-bracket__team-name {
  order: 2;
  justify-content: flex-end;
}

.league-bracket__content .league-bracket__team:first-child .league-bracket__score {
  order: 0;
}

.league-bracket__content .league-bracket__team:first-child {
  padding-right: 0.25rem;
  justify-content: end;
}

.league-bracket__content .league-bracket__team:last-child {
  padding-left: 0.25rem;
  order: 2;
  justify-content: start;
}

.league-bracket__content .league-bracket__team:last-child .league-bracket__code {
  order: 1;
}

.league-bracket__caption {
  font-size: 0.8rem;
  color: #232323;
  font-weight: 300;
  padding-bottom: 0.75em;
  text-align: center;
}

.league-bracket__team {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.league-bracket__team-name {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
}

.league-bracket__code {
  padding: 0 0.5em;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
  transition: padding 0.2s ease-in-out;
}

.league-bracket__score {
  display: flex;
  align-items: center;
}

.league-bracket__team:first-child .league-bracket__score {
  flex-direction: row-reverse;
  padding-left: 0.75em;
}

.league-bracket__team:last-child .league-bracket__score {
  padding-right: 0.75em;
}

.league-bracket__number {
  display: inline-block;
  padding: 0.2em 0.4em 0.2em;
  border-bottom: 0.075em solid transparent;
  font-size: 0.95rem;
  background-color: #F5F5F5;
  border-color: #dddddd;
}

.league-bracket__team--winner .league-bracket__number {
  background-color: #FFF176;
  border-color: #fad674;
}

.league-bracket__medal {
  padding: 0 0.5em;
}

.league-bracket__medal--gold {
  color: #FFD700;
}

.league-bracket__medal--silver {
  color: #C0C0C0;
}

.league-bracket__medal--bronze {
  color: #CD7F32;
}
